<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" (keydown.enter)="addTodo()" class="form-control" placeholder="Add Task Name" #input="ngModel"
        [(ngModel)]="mytodo" required minlength="4" />
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="addTodo()" [disabled]="!input.valid">Add</button>
      </span>
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <span></span>
  </div>
</div>
