<!-- <app-test1></app-test1>
<div style="text-align:center">
  <h1>
    Welcome to {{ 'Hi' + " " +  getName() }}!
    {{ 10 + 20}}
    {{ bool ? "TRUE" : 'False'}}
    {{<script>alert('Hello')</script>}}
  </h1>
  <span [innerHTML]="title"></span>
  <img src="https://yt3.ggpht.com{{url}}"/>
  <button [disabled]="bool">Click me</button>
  <button (click)="bool = true">Click me</button>
</div> -->
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a routerLink="/page1" routerLinkActive="active" href="#">Page 1</a>
        </li>
        <li><a routerLink="/page2" routerLinkActive="active" href="#">Page 2</a></li>
        <li><a [routerLink]="['/page3']" routerLinkActive="active" href="#">Page 3</a></li>
      </ul>
    </div>
  </nav>
  <!-- <app-emp-details></app-emp-details> -->
  <!-- <app-ng-for></app-ng-for> -->
  <!-- <app-att-dir></app-att-dir> -->
  <!-- <app-todo1></app-todo1> -->
  <!-- <app-todo-layout></app-todo-layout> -->

  <!-- <app-template-driven-form></app-template-driven-form> -->
  <!-- <app-layout> </app-layout> -->
  <router-outlet></router-outlet>
</div>
