<!-- <app-test1></app-test1>
<div style="text-align:center">
  <h1>
    Welcome to {{ 'Hi' + " " +  getName() }}!
    {{ 10 + 20}}
    {{ bool ? "TRUE" : 'False'}}
    {{<script>alert('Hello')</script>}}
  </h1>
  <span [innerHTML]="title"></span>
  <img src="https://yt3.ggpht.com{{url}}"/>
  <button [disabled]="bool">Click me</button>
  <button (click)="bool = true">Click me</button>
</div> -->
<div class="container">
  <!-- <cafu-emp-details></cafu-emp-details> -->
  <!-- <cafu-ng-for></cafu-ng-for> -->
  <!-- <cafu-att-dir></cafu-att-dir> -->
  <!-- <app-todo1></app-todo1> -->
  <!-- <cafu-todo-layout></cafu-todo-layout> -->

  <!-- <cafu-template-driven-form></cafu-template-driven-form> -->
  <cafu-reactive-form></cafu-reactive-form>
</div>
