<h2>Login Form</h2>

<form [formGroup]="loginForm">
  <div class="imgcontainer">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" formControlName="userName" class="ng-invalid" placeholder="Enter Username" name="uname">
    <p *ngIf="loginForm.get('userName').errors && loginForm.get('userName').errors['invalid-name']" class="text-danger">
      Plz Enter valid name
    </p>
    <label for="psw"><b>Password</b></label>
    <!-- [ngModelOptions]="{standalone: true}" -->
    <input type="password" formControlName="pwd" placeholder="Enter Password" name="pwd">

    <div formGroupName="address">
      <input type="text" formControlName="area" placeholder="Area">
      <input type="text" formControlName="city" placeholder="City">
    </div>

    <!-- [disabled]="loginForm.invalid" -->
    <button type="submit" (click)="submitForm()">Login</button>
    <button type="button" class="cancelbtn" (click)="resetForm()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="disableInput()">Disabled Input</button>
  </div>
</form>
