<h2>Login Form</h2>

<form [formGroup]="myForm">
  <div class="imgcontainer">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" formControlName="uname" placeholder="Enter Username" name="uname">

    <label for="psw"><b>Password</b></label>
    <!-- [ngModelOptions]="{standalone: true}" -->
    <input type="password" formControlName="password" placeholder="Enter Password" name="pwd">

    <button type="submit" (click)="submitForm()">Login</button>
    <button type="button" class="cancelbtn" (click)="myForm.reset()">Cancel</button>
  </div>
</form>
